Repository ucfopen/Obojobo, pull requests merged in 2019-05, with the labels that each got.

#825 TeachingAssistant can view/edit drafts
  packages/app/obojobo-express/config/permission_groups.json
Labels: express package, lti

#816 prevent static assets from being served when using webpack dev server
  packages/app/obojobo-express/__tests__/express_register_chunks.test.js
  packages/app/obojobo-express/express_register_chunks.js
  packages/app/obojobo-express/package.json
Labels: dev env, express package, not user facing

#823 allow json string in env vars
  app.json
  packages/app/obojobo-express/__tests__/config.test.js
  packages/app/obojobo-express/config.js
  packages/app/obojobo-express/config/lti.json
Labels: express package, heroku, not user facing

#831 Added ability to set start page in visual editor
  packages/app/obojobo-document-engine/__tests__/oboeditor/components/__snapshots__/sub-menu.test.js.snap
  packages/app/obojobo-document-engine/__tests__/oboeditor/components/editor-nav.test.js
  packages/app/obojobo-document-engine/__tests__/oboeditor/components/page-editor.test.js
  packages/app/obojobo-document-engine/__tests__/oboeditor/components/sub-menu.test.js
  packages/app/obojobo-document-engine/__tests__/oboeditor/stores/__snapshots__/editor-store.test.js.snap
  packages/app/obojobo-document-engine/__tests__/oboeditor/stores/editor-store.test.js
  packages/app/obojobo-document-engine/__tests__/oboeditor/util/editor-util.test.js
  packages/app/obojobo-document-engine/src/scripts/oboeditor/components/editor-app.js
  packages/app/obojobo-document-engine/src/scripts/oboeditor/components/editor-nav.js
  packages/app/obojobo-document-engine/src/scripts/oboeditor/components/editor-nav.scss
  packages/app/obojobo-document-engine/src/scripts/oboeditor/components/page-editor.js
  packages/app/obojobo-document-engine/src/scripts/oboeditor/components/sub-menu.js
  packages/app/obojobo-document-engine/src/scripts/oboeditor/stores/editor-store.js
  packages/app/obojobo-document-engine/src/scripts/oboeditor/util/editor-util.js
Labels: editor, missing something

#813 adds lti launch routes in dev environment
  packages/app/obojobo-express/obo_express_dev.js
  packages/app/obojobo-express/package.json
  packages/app/obojobo-express/webpack.config.js
  yarn.lock
Labels: dev env, express package, not user facing
