Repository ucfopen/Obojobo, pull requests merged in 2019-02, with the labels that each got.

#623 Modular quiz generation
  packages/obojobo-document-engine/__tests__/server/__snapshots__/questionbank.test.js.snap
  packages/obojobo-document-engine/__tests__/server/attempt-start.test.js
  packages/obojobo-document-engine/__tests__/server/question-bank.test.js
  packages/obojobo-document-engine/__tests__/server/question.test.js
  packages/obojobo-document-engine/__tests__/server/questionbank.test.js
  packages/obojobo-document-engine/obojobo.json
  packages/obojobo-document-engine/server/attempt-end.js
  packages/obojobo-document-engine/server/attempt-start.js
  packages/obojobo-document-engine/server/question-bank.js
  packages/obojobo-document-engine/server/question.js
  packages/obojobo-document-engine/server/questionbank.js
Labels: assessment, document authoring, question

#712 Update editor chunk insert icons
  packages/obojobo-document-engine/ObojoboDraft/Chunks/ActionButton/icon.js
  packages/obojobo-document-engine/ObojoboDraft/Chunks/Break/icon.js
  packages/obojobo-document-engine/ObojoboDraft/Chunks/Code/icon.js
  packages/obojobo-document-engine/ObojoboDraft/Chunks/Figure/icon.js
  packages/obojobo-document-engine/ObojoboDraft/Chunks/HTML/icon.js
  packages/obojobo-document-engine/ObojoboDraft/Chunks/Heading/icon.js
  packages/obojobo-document-engine/ObojoboDraft/Chunks/IFrame/icon.js
  packages/obojobo-document-engine/ObojoboDraft/Chunks/List/icon.js
  packages/obojobo-document-engine/ObojoboDraft/Chunks/MathEquation/icon.js
  packages/obojobo-document-engine/ObojoboDraft/Chunks/Question/editor-component.scss
  packages/obojobo-document-engine/ObojoboDraft/Chunks/Question/icon.js
  packages/obojobo-document-engine/ObojoboDraft/Chunks/QuestionBank/icon.js
  packages/obojobo-document-engine/ObojoboDraft/Chunks/Table/icon.js
  packages/obojobo-document-engine/ObojoboDraft/Chunks/Text/icon.js
  packages/obojobo-document-engine/ObojoboDraft/Chunks/YouTube/icon.js
  packages/obojobo-document-engine/__tests__/ObojoboDraft/Chunks/ActionButton/__snapshots__/icon.test.js.snap
  packages/obojobo-document-engine/__tests__/ObojoboDraft/Chunks/Break/__snapshots__/icon.test.js.snap
  packages/obojobo-document-engine/__tests__/ObojoboDraft/Chunks/Code/__snapshots__/icon.test.js.snap
  packages/obojobo-document-engine/__tests__/ObojoboDraft/Chunks/Figure/__snapshots__/icon.test.js.snap
  packages/obojobo-document-engine/__tests__/ObojoboDraft/Chunks/HTML/__snapshots__/icon.test.js.snap
  packages/obojobo-document-engine/__tests__/ObojoboDraft/Chunks/Heading/__snapshots__/icon.test.js.snap
  packages/obojobo-document-engine/__tests__/ObojoboDraft/Chunks/IFrame/__snapshots__/icon.test.js.snap
  packages/obojobo-document-engine/__tests__/ObojoboDraft/Chunks/List/__snapshots__/icon.test.js.snap
  packages/obojobo-document-engine/__tests__/ObojoboDraft/Chunks/MathEquation/__snapshots__/icon.test.js.snap
  packages/obojobo-document-engine/__tests__/ObojoboDraft/Chunks/Question/__snapshots__/icon.test.js.snap
  packages/obojobo-document-engine/__tests__/ObojoboDraft/Chunks/QuestionBank/__snapshots__/icon.test.js.snap
  packages/obojobo-document-engine/__tests__/ObojoboDraft/Chunks/Table/__snapshots__/icon.test.js.snap
  packages/obojobo-document-engine/__tests__/ObojoboDraft/Chunks/Text/__snapshots__/icon.test.js.snap
  packages/obojobo-document-engine/__tests__/ObojoboDraft/Chunks/YouTube/__snapshots__/icon.test.js.snap
  packages/obojobo-document-engine/__tests__/oboeditor/components/node/__snapshots__/editor-component.test.js.snap
  packages/obojobo-document-engine/__tests__/oboeditor/components/node/components/__snapshots__/insert-menu.js.snap
  packages/obojobo-document-engine/src/scripts/oboeditor/components/node/components/insert-menu.js
  packages/obojobo-document-engine/src/scripts/oboeditor/components/node/components/insert-menu.scss
Labels: editor, obo node

#735 Fix blurry questions in chrome
  packages/obojobo-document-engine/ObojoboDraft/Chunks/MCAssessment/MCChoice/viewer-component.scss
  packages/obojobo-document-engine/ObojoboDraft/Chunks/Question/viewer-component.js
  packages/obojobo-document-engine/ObojoboDraft/Chunks/Question/viewer-component.scss
  packages/obojobo-document-engine/__tests__/ObojoboDraft/Chunks/Question/__snapshots__/viewer-component.test.js.snap
  packages/obojobo-document-engine/__tests__/ObojoboDraft/Chunks/Question/viewer-component.test.js
  packages/obojobo-document-engine/src/scripts/common/components/button-bar.scss
Labels: document engine package, rendering error
