Repository ucfopen/Obojobo, pull requests merged in 2019-04, with the labels that each got.

#670 Restores smooth scrolling for sub-link nav items
  packages/app/obojobo-document-engine/__tests__/Viewer/components/__snapshots__/viewer-app.test.js.snap
  packages/app/obojobo-document-engine/__tests__/Viewer/components/nav.test.js
  packages/app/obojobo-document-engine/__tests__/Viewer/components/viewer-app.test.js
  packages/app/obojobo-document-engine/__tests__/Viewer/stores/assessment-store.test.js
  packages/app/obojobo-document-engine/__tests__/Viewer/stores/focus-store.test.js
  packages/app/obojobo-document-engine/__tests__/Viewer/stores/nav-store.test.js
  packages/app/obojobo-document-engine/__tests__/Viewer/stores/question-store.test.js
  packages/app/obojobo-document-engine/__tests__/common/util/focus-util.test.js
  packages/app/obojobo-document-engine/src/scripts/viewer/components/nav.js
  packages/app/obojobo-document-engine/src/scripts/viewer/components/viewer-app.js
  packages/app/obojobo-document-engine/src/scripts/viewer/stores/assessment-store.js
  packages/app/obojobo-document-engine/src/scripts/viewer/stores/focus-store.js
  packages/app/obojobo-document-engine/src/scripts/viewer/stores/nav-store.js
  packages/app/obojobo-document-engine/src/scripts/viewer/stores/question-store.js
  packages/app/obojobo-document-engine/src/scripts/viewer/util/focus-util.js
  packages/app/obojobo-document-engine/test-object.json
  packages/app/obojobo-document-xml-parser/examples/test-object.xml
  packages/obonode/obojobo-chunks-action-button/viewer-component.js
  packages/obonode/obojobo-chunks-action-button/viewer-component.test.js
  packages/obonode/obojobo-chunks-iframe/viewer-component.js
  packages/obonode/obojobo-chunks-iframe/viewer-component.test.js
  packages/obonode/obojobo-chunks-multiple-choice-assessment/viewer-component.js
  packages/obonode/obojobo-chunks-multiple-choice-assessment/viewer-component.test.js
  packages/obonode/obojobo-chunks-question/__snapshots__/viewer-component.test.js.snap
  packages/obonode/obojobo-chunks-question/viewer-component.js
  packages/obonode/obojobo-chunks-question/viewer-component.test.js
  packages/obonode/obojobo-modules-module/__snapshots__/viewer-component.test.js.snap
  packages/obonode/obojobo-pages-page/viewer-component.js
  packages/obonode/obojobo-pages-page/viewer-component.test.js
  packages/obonode/obojobo-sections-assessment/viewer-component.js
Labels: bug, css

#687 Added IFrame changes to editor
  packages/app/obojobo-document-engine/__tests__/common/components/__snapshots__/slider.test.js.snap
  packages/app/obojobo-document-engine/__tests__/common/components/slider.test.js
  packages/app/obojobo-document-engine/__tests__/oboeditor/components/__snapshots__/parameter-node.test.js.snap
  packages/app/obojobo-document-engine/__tests__/oboeditor/components/parameter-node.test.js
  packages/app/obojobo-document-engine/src/scripts/common/components/modal/dialog.js
  packages/app/obojobo-document-engine/src/scripts/common/components/slider.js
  packages/app/obojobo-document-engine/src/scripts/common/components/slider.scss
  packages/app/obojobo-document-engine/src/scripts/common/index.js
  packages/app/obojobo-document-engine/src/scripts/oboeditor/components/editor-nav.scss
  packages/app/obojobo-document-engine/src/scripts/oboeditor/components/page-editor.scss
  packages/app/obojobo-document-engine/src/scripts/oboeditor/components/parameter-node.js
  packages/app/obojobo-document-engine/src/scripts/oboeditor/components/sub-menu.scss
  packages/app/obojobo-document-engine/src/scripts/oboeditor/util/clipboard-util.js
  packages/app/obojobo-express/views/editor.ejs
  packages/app/obojobo-express/views/editor_picker.ejs
  packages/obonode/obojobo-chunks-iframe/__snapshots__/controls.test.js.snap
  packages/obonode/obojobo-chunks-iframe/__snapshots__/converter.test.js.snap
  packages/obonode/obojobo-chunks-iframe/__snapshots__/editor-component.test.js.snap
  packages/obonode/obojobo-chunks-iframe/__snapshots__/iframe-properties-modal.test.js.snap
  packages/obonode/obojobo-chunks-iframe/controls.js
  packages/obonode/obojobo-chunks-iframe/controls.scss
  packages/obonode/obojobo-chunks-iframe/converter.js
  packages/obonode/obojobo-chunks-iframe/converter.test.js
  packages/obonode/obojobo-chunks-iframe/editor-component.js
  packages/obonode/obojobo-chunks-iframe/editor-component.scss
  packages/obonode/obojobo-chunks-iframe/editor-component.test.js
  packages/obonode/obojobo-chunks-iframe/empty-node.json
  packages/obonode/obojobo-chunks-iframe/iframe-properties-modal.js
  packages/obonode/obojobo-chunks-iframe/iframe-properties-modal.scss
  packages/obonode/obojobo-chunks-iframe/iframe-properties-modal.test.js
  packages/obonode/obojobo-chunks-multiple-choice-assessment/converter.test.js
  packages/obonode/obojobo-chunks-question-bank/converter.test.js
  packages/obonode/obojobo-sections-assessment/post-assessment/__snapshots__/range-modal.test.js.snap
  packages/obonode/obojobo-sections-assessment/post-assessment/editor-component.scss
  packages/obonode/obojobo-sections-assessment/post-assessment/range-modal.js
Labels: chunk specific, editor, iframe

#765 Fix Visual Tutorial
  packages/app/obojobo-document-engine/src/scripts/oboeditor/documents/oboeditor-tutorial.json
  packages/app/obojobo-express/views/editor_picker.ejs
Labels: editor

#796 Fix cross browser styles
  packages/app/obojobo-document-engine/__tests__/oboeditor/components/__snapshots__/editor-nav.test.js.snap
  packages/app/obojobo-document-engine/__tests__/oboeditor/components/__snapshots__/page-editor.test.js.snap
  packages/app/obojobo-document-engine/__tests__/oboeditor/components/__snapshots__/parameter-node.test.js.snap
  packages/app/obojobo-document-engine/__tests__/oboeditor/components/marks/link.test.js
  packages/app/obojobo-document-engine/__tests__/oboeditor/components/page-editor.test.js
  packages/app/obojobo-document-engine/src/scripts/oboeditor/components/editor-nav.js
  packages/app/obojobo-document-engine/src/scripts/oboeditor/components/editor-nav.scss
  packages/app/obojobo-document-engine/src/scripts/oboeditor/components/marks/link.js
  packages/app/obojobo-document-engine/src/scripts/oboeditor/components/marks/link.scss
  packages/app/obojobo-document-engine/src/scripts/oboeditor/components/node/components/insert-menu.scss
  packages/app/obojobo-document-engine/src/scripts/oboeditor/components/node/editor-component.scss
  packages/app/obojobo-document-engine/src/scripts/oboeditor/components/page-editor.js
  packages/app/obojobo-document-engine/src/scripts/oboeditor/components/page-editor.scss
  packages/app/obojobo-document-engine/src/scripts/oboeditor/components/parameter-node.js
  packages/app/obojobo-document-engine/src/scripts/oboeditor/components/sub-menu.scss
  packages/obonode/obojobo-chunks-action-button/editor-component.scss
  packages/obonode/obojobo-chunks-heading/__snapshots__/editor-component.test.js.snap
  packages/obonode/obojobo-chunks-heading/editor-component.js
  packages/obonode/obojobo-chunks-heading/editor-component.scss
  packages/obonode/obojobo-chunks-multiple-choice-assessment/MCChoice/editor-component.scss
  packages/obonode/obojobo-chunks-question-bank/__snapshots__/editor-component.test.js.snap
  packages/obonode/obojobo-chunks-question-bank/editor-component.js
  packages/obonode/obojobo-chunks-question-bank/editor-component.scss
  packages/obonode/obojobo-chunks-question-bank/editor-component.test.js
  packages/obonode/obojobo-chunks-question/__snapshots__/editor-component.test.js.snap
  packages/obonode/obojobo-chunks-question/components/solution/__snapshots__/editor-component.test.js.snap
  packages/obonode/obojobo-chunks-question/components/solution/editor-component.js
  packages/obonode/obojobo-chunks-question/components/solution/editor-component.scss
  packages/obonode/obojobo-chunks-question/components/solution/editor-component.test.js
  packages/obonode/obojobo-chunks-question/editor-component.js
  packages/obonode/obojobo-chunks-question/editor-component.scss
  packages/obonode/obojobo-chunks-question/editor-component.test.js
  packages/obonode/obojobo-sections-assessment/__snapshots__/editor-component.test.js.snap
  packages/obonode/obojobo-sections-assessment/__snapshots__/editor.test.js.snap
  packages/obonode/obojobo-sections-assessment/components/rubric/__snapshots__/editor.test.js.snap
  packages/obonode/obojobo-sections-assessment/components/rubric/editor-component.scss
  packages/obonode/obojobo-sections-assessment/components/rubric/editor.js
  packages/obonode/obojobo-sections-assessment/components/rubric/editor.test.js
  packages/obonode/obojobo-sections-assessment/editor-component.js
  packages/obonode/obojobo-sections-assessment/editor-component.scss
  packages/obonode/obojobo-sections-assessment/editor-component.test.js
  packages/obonode/obojobo-sections-assessment/editor.test.js
  packages/obonode/obojobo-sections-assessment/post-assessment/__snapshots__/editor-component.test.js.snap
  packages/obonode/obojobo-sections-assessment/post-assessment/editor-component.js
  packages/obonode/obojobo-sections-assessment/post-assessment/editor-component.test.js
Labels: editor
