Repository ucfopen/Obojobo, pull requests merged in 2019-08, with the labels that each got.

#916 adds DB_SSL flag to control pg ssl connection option
  packages/app/obojobo-express/config/db.json
Labels: db, express package

#931 refactor to solve some reset preview errors
  packages/obonode/obojobo-sections-assessment/server/express.js
  packages/obonode/obojobo-sections-assessment/server/express.test.js
Labels: api

#937 Issue/875 toolbar cutoff
  packages/app/obojobo-document-engine/src/scripts/oboeditor/components/page-editor.scss
Labels: css, editor, front end

#933 adds indices to user_id and draft_id on visits table
  packages/app/obojobo-express/migrations/20190813010652-modify-visits-add-indices.js
Labels: db

#939 moves session clearing to user model
  packages/app/obojobo-express/__tests__/express_lti_launch.test.js
  packages/app/obojobo-express/__tests__/models/user.test.js
  packages/app/obojobo-express/express_lti_launch.js
  packages/app/obojobo-express/models/__mocks__/user.js
  packages/app/obojobo-express/models/user.js
Labels: express package
