Repository ucfopen/Obojobo, pull requests merged in 2019-06, with the labels that each got.

#832 Assessment option in visual editor to lock nav for attempts in progress
  packages/app/obojobo-document-engine/__tests__/common/util/trigger-util.test.js
  packages/app/obojobo-document-engine/src/scripts/common/util/trigger-util.js
  packages/obonode/obojobo-sections-assessment/__snapshots__/converter.test.js.snap
  packages/obonode/obojobo-sections-assessment/__snapshots__/editor.test.js.snap
  packages/obonode/obojobo-sections-assessment/adapter.js
  packages/obonode/obojobo-sections-assessment/adapter.test.js
  packages/obonode/obojobo-sections-assessment/converter.js
  packages/obonode/obojobo-sections-assessment/converter.test.js
  packages/obonode/obojobo-sections-assessment/schema.js
Labels: editor, missing something

#847 Issue #772 Lists too separated from other content
  packages/obonode/obojobo-chunks-list/viewer-component.scss
Labels: chunk specific, needs merge, viewer

#861 Issue#857 Update wrong question type in visual editor tutorial
  packages/app/obojobo-document-engine/src/scripts/oboeditor/documents/oboeditor-tutorial.json
Labels: documentation, editor, needs merge

#856 Change dangerous button hover state to red
  packages/app/obojobo-document-engine/src/scripts/common/components/button.scss
  packages/app/obojobo-document-engine/src/scss/_includes.scss
Labels: editor, needs merge, viewer

#849 rename add Break to add Horizontal Line
  packages/obonode/obojobo-chunks-break/editor.js
Labels: editor, needs merge

#850 updated APIUtil.getDraft and APIUtil.getFullDraft to use APIUtil.get
  packages/app/obojobo-document-engine/__tests__/Viewer/util/api-util.test.js
  packages/app/obojobo-document-engine/src/scripts/viewer/util/api-util.js
Labels: bug, needs merge, viewer
