Repository ucfopen/Obojobo, pull requests merged in 2019-07, with the labels that each got.

#835 Issue/759 image upload for visual editor
  packages/app/obojobo-document-engine/__tests__/Viewer/util/api-util.test.js
  packages/app/obojobo-document-engine/__tests__/oboeditor/stores/__snapshots__/editor-store.test.js.snap
  packages/app/obojobo-document-engine/__tests__/oboeditor/stores/editor-store.test.js
  packages/app/obojobo-document-engine/babel.config.js
  packages/app/obojobo-document-engine/src/scripts/oboeditor/app.js
  packages/app/obojobo-document-engine/src/scripts/oboeditor/components/editor-app.js
  packages/app/obojobo-document-engine/src/scripts/oboeditor/draftmanager.js
  packages/app/obojobo-document-engine/src/scripts/oboeditor/stores/editor-store.js
  packages/app/obojobo-document-engine/src/scripts/viewer/util/api-util.js
  packages/app/obojobo-express/__tests__/models/guest_user.test.js
  packages/app/obojobo-express/__tests__/models/media.test.js
  packages/app/obojobo-express/__tests__/routes/api/media.test.js
  packages/app/obojobo-express/config.js
  packages/app/obojobo-express/config/draft.json
  packages/app/obojobo-express/config/general.json
  packages/app/obojobo-express/config/lti.json
  packages/app/obojobo-express/config/media.json
  packages/app/obojobo-express/config/permission_groups.json
  packages/app/obojobo-express/models/media.js
  packages/app/obojobo-express/routes/api/media.js
  packages/app/obojobo-express/routes/editor.js
  packages/app/obojobo-express/setup_tests.js
  packages/app/obojobo-express/views/editor.ejs
  packages/app/obojobo-express/webpack.config.js
  packages/obonode/obojobo-chunks-figure/__snapshots__/editor-component.test.js.snap
  packages/obonode/obojobo-chunks-figure/__snapshots__/image-properties-modal.test.js.snap
  packages/obonode/obojobo-chunks-figure/__snapshots__/image.test.js.snap
  packages/obonode/obojobo-chunks-figure/__snapshots__/viewer-component.test.js.snap
  packages/obonode/obojobo-chunks-figure/editor-component.js
  packages/obonode/obojobo-chunks-figure/editor-component.scss
  packages/obonode/obojobo-chunks-figure/editor-component.test.js
  packages/obonode/obojobo-chunks-figure/image-properties-modal.js
  packages/obonode/obojobo-chunks-figure/image-properties-modal.scss
  packages/obonode/obojobo-chunks-figure/image-properties-modal.test.js
  packages/obonode/obojobo-chunks-figure/image.js
  packages/obonode/obojobo-chunks-figure/image.test.js
  packages/obonode/obojobo-chunks-figure/utils.js
  packages/obonode/obojobo-chunks-figure/utils.test.js
Labels: PR Ready for Review, chunk specific, editor, enhancement, express package, react

#866 Fix non-failing errors showing up in test output
  package.json
  packages/app/obojobo-document-engine/__tests__/Viewer/components/viewer-app.test.js
  packages/app/obojobo-document-engine/__tests__/Viewer/stores/assessment-store.test.js
  packages/app/obojobo-document-engine/__tests__/Viewer/util/api-util.test.js
  packages/app/obojobo-document-engine/__tests__/common/components/__snapshots__/slider.test.js.snap
  packages/app/obojobo-document-engine/__tests__/common/components/slider.test.js
  packages/app/obojobo-document-engine/__tests__/oboeditor/components/editor-app.test.js
  packages/app/obojobo-document-engine/__tests__/oboeditor/components/page-editor.test.js
  packages/app/obojobo-document-engine/package.json
  packages/app/obojobo-document-engine/setupTests.js
  packages/app/obojobo-document-engine/src/scripts/common/components/slider.js
  packages/app/obojobo-document-engine/src/scripts/oboeditor/components/editor-app.js
  packages/app/obojobo-document-engine/src/scripts/oboeditor/components/page-editor.js
  packages/app/obojobo-document-xml-parser/package.json
  packages/app/obojobo-express/__tests__/http_server.test.js
  packages/app/obojobo-express/__tests__/models/media.test.js
  packages/app/obojobo-express/package.json
  packages/app/obojobo-express/setup_tests.js
  packages/obonode/obojobo-chunks-action-button/package.json
  packages/obonode/obojobo-chunks-break/package.json
  packages/obonode/obojobo-chunks-code/package.json
  packages/obonode/obojobo-chunks-figure/__snapshots__/image-properties-modal.test.js.snap
  packages/obonode/obojobo-chunks-figure/image-properties-modal.js
  packages/obonode/obojobo-chunks-figure/image-properties-modal.test.js
  packages/obonode/obojobo-chunks-figure/package.json
  packages/obonode/obojobo-chunks-heading/package.json
  packages/obonode/obojobo-chunks-html/package.json
  packages/obonode/obojobo-chunks-iframe/__snapshots__/iframe-properties-modal.test.js.snap
  packages/obonode/obojobo-chunks-iframe/iframe-properties-modal.js
  packages/obonode/obojobo-chunks-iframe/iframe-properties-modal.test.js
  packages/obonode/obojobo-chunks-iframe/package.json
  packages/obonode/obojobo-chunks-list/package.json
  packages/obonode/obojobo-chunks-math-equation/package.json
  packages/obonode/obojobo-chunks-multiple-choice-assessment/package.json
  packages/obonode/obojobo-chunks-question-bank/package.json
  packages/obonode/obojobo-chunks-question/package.json
  packages/obonode/obojobo-chunks-table/package.json
  packages/obonode/obojobo-chunks-text/package.json
  packages/obonode/obojobo-chunks-youtube/__snapshots__/editor-component.js.snap
  packages/obonode/obojobo-chunks-youtube/__snapshots__/editor-component.test.js.snap
  packages/obonode/obojobo-chunks-youtube/editor-component.js
  packages/obonode/obojobo-chunks-youtube/editor-component.test.js
  packages/obonode/obojobo-chunks-youtube/package.json
  packages/obonode/obojobo-modules-module/package.json
  packages/obonode/obojobo-pages-page/package.json
  packages/obonode/obojobo-sections-assessment/package.json
  packages/obonode/obojobo-sections-assessment/post-assessment/__snapshots__/range-modal.test.js.snap
  packages/obonode/obojobo-sections-assessment/post-assessment/range-modal.js
  packages/obonode/obojobo-sections-assessment/post-assessment/range-modal.test.js
  packages/obonode/obojobo-sections-content/package.json
  packages/util/eslint-config-obojobo/package.json
  packages/util/obojobo-lib-utils/package.json
  packages/util/obojobo-lib-utils/test-setup-chunks.js
  packages/util/stylelint-config-obojobo/package.json
  yarn.lock
Labels: PR Ready for Review, build, dev env, testing

#864 General Model Returning and promise cleanup
  packages/app/obojobo-express/__tests__/express_lti_launch.test.js
  packages/app/obojobo-express/__tests__/models/__snapshots__/user.test.js.snap
  packages/app/obojobo-express/__tests__/models/media.test.js
  packages/app/obojobo-express/express_lti_launch.js
  packages/app/obojobo-express/insert_event.js
  packages/app/obojobo-express/lti.js
  packages/app/obojobo-express/models/draft.js
  packages/app/obojobo-express/models/media.js
  packages/app/obojobo-express/models/user.js
Labels: PR Ready for Review, express package, refactoring

#829 Added resource link id checks
  packages/app/obojobo-document-engine/__mocks__/lti.js
  packages/app/obojobo-express/__tests__/insert_event.test.js
  packages/app/obojobo-express/__tests__/lti.test.js
  packages/app/obojobo-express/__tests__/models/visit.test.js
  packages/app/obojobo-express/__tests__/routes/__snapshots__/viewer.test.js.snap
  packages/app/obojobo-express/__tests__/routes/api/visits.test.js
  packages/app/obojobo-express/__tests__/viewer_events.test.js
  packages/app/obojobo-express/babel.config.js
  packages/app/obojobo-express/insert_event.js
  packages/app/obojobo-express/lti.js
  packages/app/obojobo-express/migrations/20180124212301-create-visits-table.js
  packages/app/obojobo-express/migrations/20190401211939-modify-attempts-add-resource-link-id.js
  packages/app/obojobo-express/migrations/20190401212325-modify-view-state-add-resource-link-id.js
  packages/app/obojobo-express/migrations/20190502142405-modify-events-add-visit-id.js
  packages/app/obojobo-express/models/visit.js
  packages/app/obojobo-express/obo_express.js
  packages/app/obojobo-express/obo_express_dev.js
  packages/app/obojobo-express/package.json
  packages/app/obojobo-express/routes/api/events.js
  packages/app/obojobo-express/routes/api/visits.js
  packages/app/obojobo-express/routes/viewer.js
  packages/app/obojobo-express/viewer/viewer_state.js
  packages/app/obojobo-express/viewer_events.js
  packages/obonode/obojobo-sections-assessment/server/assessment.js
  packages/obonode/obojobo-sections-assessment/server/assessment.test.js
  packages/obonode/obojobo-sections-assessment/server/attempt-end.js
  packages/obonode/obojobo-sections-assessment/server/attempt-end.test.js
  packages/obonode/obojobo-sections-assessment/server/attempt-start.js
  packages/obonode/obojobo-sections-assessment/server/express.js
  packages/obonode/obojobo-sections-assessment/server/express.test.js
Labels: Migrations, assessment, db, express package, lti, scoring

#906 Download raw documents from the editor
  packages/app/obojobo-document-engine/src/scripts/oboeditor/draftmanager.js
  packages/app/obojobo-express/__tests__/lti.test.js
  packages/app/obojobo-express/__tests__/models/draft.test.js
  packages/app/obojobo-express/__tests__/routes/api/drafts.test.js
  packages/app/obojobo-express/models/draft.js
  packages/app/obojobo-express/routes/api/drafts.js
  packages/app/obojobo-express/views/editor_picker.ejs
Labels: api, editor, express package

#910 fixes survey questions breaking creating qb's in the visual editor
  packages/obonode/obojobo-chunks-question-bank/empty-node.json
Labels: bug, editor, question
