Repository ucfopen/Obojobo, pull requests merged in 2019-09, with the labels that each got.

#962 Adds isolation to new nodes in visual editor
  packages/app/obojobo-document-engine/src/scripts/oboeditor/components/node/editor-component.js
Labels: bug, editor

#935 fixes merge based regression of editor errororing whith missing titles
  packages/app/obojobo-express/views/editor_picker.ejs
Labels: editor

#942 Changes header forwarding from x-host to standard X-Forwarded-Host
  packages/app/obojobo-express/__tests__/express_load_balancer_helper.test.js
  packages/app/obojobo-express/express_load_balancer_helper.js
Labels: express package

#943 content developer role access
  packages/app/obojobo-express/__tests__/models/user.test.js
  packages/app/obojobo-express/config/permission_groups.json
Labels: lti

#959 Hides scrollbars on questions during the flip animation
  packages/obonode/obojobo-chunks-question/viewer-component.scss
Labels: css

#952 Update IdleTimer new method
  packages/app/obojobo-document-engine/src/scripts/viewer/components/viewer-app.js
Labels: bug, document engine package, events

#941 Adds student launch options to /dev lti links
  packages/app/obojobo-express/obo_express_dev.js
Labels: dev env, lti

#944 adds canvas_masquerading_user_id to lti config
  packages/app/obojobo-express/views/lti_config_xml.ejs
Labels: lti

#938 launches all non-learners into preview mode
  packages/app/obojobo-express/__tests__/express_current_user.test.js
  packages/app/obojobo-express/__tests__/express_validators.test.js
  packages/app/obojobo-express/__tests__/models/guest_user.test.js
  packages/app/obojobo-express/__tests__/models/user.test.js
  packages/app/obojobo-express/__tests__/routes/api/drafts.test.js
  packages/app/obojobo-express/__tests__/routes/preview.test.js
  packages/app/obojobo-express/__tests__/routes/viewer.test.js
  packages/app/obojobo-express/config/permission_groups.json
  packages/app/obojobo-express/express_current_user.js
  packages/app/obojobo-express/express_validators.js
  packages/app/obojobo-express/routes/api/drafts.js
  packages/app/obojobo-express/routes/preview.js
  packages/app/obojobo-express/routes/viewer.js
Labels: lti

#940 Lti code cleanup
  packages/app/obojobo-express/__tests__/express_lti_launch.test.js
  packages/app/obojobo-express/express_lti_launch.js
  packages/app/obojobo-express/express_validators.js
  packages/app/obojobo-express/models/__mocks__/user.js
  packages/app/obojobo-express/routes/lti.js
Labels: Cleanup / Polish, lti

#924 Issue/901 size property
  packages/app/obojobo-express/migrations/20190813010652-modify-visits-add-indices.js
  packages/obonode/obojobo-chunks-math-equation/__snapshots__/editor-component.test.js.snap
  packages/obonode/obojobo-chunks-math-equation/__snapshots__/math-equation-properties-modal.test.js.snap
  packages/obonode/obojobo-chunks-math-equation/editor-component.js
  packages/obonode/obojobo-chunks-math-equation/editor-component.test.js
  packages/obonode/obojobo-chunks-math-equation/math-equation-properties-modal.js
  packages/obonode/obojobo-chunks-math-equation/math-equation-properties-modal.scss
  packages/obonode/obojobo-chunks-math-equation/math-equation-properties-modal.test.js
Labels: css, editor, enhancement, front end, user experience

#955 Adds missisng env vars to heroku config
  app.json
Labels: heroku

#956 viewer:close does not fire
  packages/app/obojobo-document-engine/__tests__/Viewer/components/viewer-app.test.js
  packages/app/obojobo-document-engine/src/scripts/viewer/components/viewer-app.js
  packages/app/obojobo-express/express_current_visit.js
Labels: bug, document engine package, events
