Repository ucfopen/Obojobo, pull requests merged in 2020-02, with the labels that each got.

#1134 [update] cookie to support sameSite=none
  packages/app/obojobo-express/__tests__/middleware.test.js
  packages/app/obojobo-express/middleware.default.js
  packages/app/obojobo-express/package.json
  yarn.lock
Labels: dependencies, express package

#1115 Notification for last attempt
  packages/obonode/obojobo-sections-assessment/viewer-component.js
  packages/obonode/obojobo-sections-assessment/viewer-component.test.js
Labels: enhancement, viewer

#1118 Fixed pasting problem on a list
  packages/obonode/obojobo-chunks-list/editor-registration.js
  packages/obonode/obojobo-chunks-list/editor-registration.test.js
Labels: bug, editor

#1136 moves building on prepublish into obojobo-express
  package.json
  packages/app/obojobo-express/package.json
Labels: Cleanup / Polish
