Repository ucfopen/Obojobo, pull requests merged in 2020-04, with the labels that each got.

#1132 `Make a copy` feature is not working as expected
  packages/app/obojobo-document-engine/src/scripts/oboeditor/components/code-editor.js
  packages/app/obojobo-document-engine/src/scripts/oboeditor/components/toolbars/file-menu.js
Labels: bug, editor

#1252 Fixed table editor problem in safari
  packages/obonode/obojobo-chunks-table/viewer-component.scss
Labels: bug, editor

#1249 Fixes left aligned figures on 8.0.1
  packages/app/obojobo-document-engine/__tests__/common/chunk/text-chunk/__snapshots__/text-group-el.test.js.snap
  packages/app/obojobo-document-engine/src/scripts/common/chunk/text-chunk/text-group-el.js
  packages/obonode/obojobo-chunks-action-button/__snapshots__/viewer-component.test.js.snap
  packages/obonode/obojobo-chunks-figure/__snapshots__/adapter.test.js.snap
  packages/obonode/obojobo-chunks-figure/__snapshots__/viewer-component.test.js.snap
  packages/obonode/obojobo-chunks-figure/adapter.js
  packages/obonode/obojobo-chunks-figure/adapter.test.js
  packages/obonode/obojobo-chunks-list/__snapshots__/viewer-component.test.js.snap
  packages/obonode/obojobo-chunks-table/__snapshots__/viewer-component.test.js.snap
  packages/obonode/obojobo-sections-assessment/components/post-test/__snapshots__/index.test.js.snap
Labels: bug, viewer

#1248 Search filter not rendering properly in safari
  packages/app/obojobo-repository/shared/components/search.scss
Labels: rendering error, repository

#1168 Add feature to import local module
  packages/app/obojobo-document-engine/__tests__/Viewer/util/api-util.test.js
  packages/app/obojobo-document-engine/__tests__/Viewer/util/stop-viewer.test.js
  packages/app/obojobo-document-engine/__tests__/oboeditor/components/__snapshots__/page-editor.test.js.snap
  packages/app/obojobo-document-engine/__tests__/oboeditor/components/code-editor.test.js
  packages/app/obojobo-document-engine/__tests__/oboeditor/components/page-editor.test.js
  packages/app/obojobo-document-engine/__tests__/oboeditor/components/toolbars/__snapshots__/file-menu.test.js.snap
  packages/app/obojobo-document-engine/__tests__/oboeditor/components/toolbars/file-menu.test.js
  packages/app/obojobo-document-engine/src/scripts/oboeditor/components/code-editor.js
  packages/app/obojobo-document-engine/src/scripts/oboeditor/components/page-editor.js
  packages/app/obojobo-document-engine/src/scripts/oboeditor/components/toolbars/file-menu.js
  packages/app/obojobo-document-engine/src/scripts/oboeditor/components/toolbars/file-toolbar.js
  packages/app/obojobo-document-engine/src/scripts/viewer/util/api-util.js
  packages/app/obojobo-express/__tests__/routes/api/drafts.test.js
  packages/app/obojobo-express/server/routes/api/drafts.js
  packages/app/obojobo-repository/shared/actions/dashboard-actions.js
  packages/app/obojobo-repository/shared/components/dashboard-hoc.js
  packages/app/obojobo-repository/shared/components/dashboard.jsx
Labels: enhancement

#1243 Disable duplicate assessment
  packages/app/obojobo-document-engine/__tests__/oboeditor/components/navigation/__snapshots__/more-info-box.test.js.snap
  packages/app/obojobo-document-engine/__tests__/oboeditor/components/navigation/__snapshots__/sub-menu.test.js.snap
  packages/app/obojobo-document-engine/__tests__/oboeditor/components/navigation/more-info-box.test.js
  packages/app/obojobo-document-engine/src/scripts/oboeditor/components/navigation/more-info-box.js
  packages/app/obojobo-document-engine/src/scripts/oboeditor/components/navigation/sub-menu.js
Labels: editor

#1244 Fix long nav title problem
  packages/app/obojobo-document-engine/src/scripts/oboeditor/components/navigation/editor-nav.scss
  packages/app/obojobo-document-engine/src/scripts/viewer/components/nav.scss
Labels: rendering error

#1261 [clean] use const for list type checking
  packages/obonode/obojobo-chunks-list/adapter.js
  packages/obonode/obojobo-chunks-list/changes/normalize-node.js
  packages/obonode/obojobo-chunks-list/changes/wrap-level-or-tab.js
  packages/obonode/obojobo-chunks-list/changes/wrap-level.js
  packages/obonode/obojobo-chunks-list/converter.js
Labels: Cleanup / Polish

#1260 [fix] editor error for list lines missing hanging indent param
  packages/obonode/obojobo-chunks-list/components/line/__snapshots__/editor-component.test.js.snap
  packages/obonode/obojobo-chunks-list/components/line/editor-component.js
  packages/obonode/obojobo-chunks-list/components/line/editor-component.test.js
Labels: bug, chunk specific, editor
