Repository ucfopen/Obojobo, pull requests merged in 2020-09, with the labels that each got.

#1496 Updated Latex shortcut in visual editor tutorial
  packages/app/obojobo-document-engine/src/scripts/oboeditor/documents/oboeditor-tutorial.json
Labels: bug, documentation, feels broken

#1494 Shows assessment scores and attempts in nav
  .DS_Store
  packages/app/obojobo-document-engine/__tests__/Viewer/components/__snapshots__/nav.test.js.snap
  packages/app/obojobo-document-engine/__tests__/Viewer/components/nav.test.js
  packages/app/obojobo-document-engine/src/scripts/viewer/components/nav.js
  packages/app/obojobo-document-engine/src/scripts/viewer/components/nav.scss
  packages/app/obojobo-document-engine/src/scripts/viewer/components/viewer-app.js
Labels: document engine package, enhancement, navigation, scoring

#1491 Removes "undefined undefined" from /drafts/:draftId/revisions/:revisionId
  packages/app/obojobo-repository/server/models/draft_summary.js
  packages/app/obojobo-repository/server/models/draft_summary.test.js
Labels: enhancement

#1530 Fix crashing problem when deleting an assessment
  packages/app/obojobo-document-engine/__tests__/oboeditor/components/visual-editor.test.js
  packages/app/obojobo-document-engine/src/scripts/oboeditor/components/visual-editor.js
Labels: editor, high priority

#1525 binds this to changeLinkValue
  packages/app/obojobo-document-engine/src/scripts/oboeditor/components/marks/link.js
Labels: bug, editor, high priority

#1520 adds onStartAttempt trigger to lock nav
  packages/app/obojobo-document-engine/src/scripts/oboeditor/components/navigation/sub-menu.js
Labels: bug, editor, high priority

#1490 Fix heading menu in Safari
  packages/app/obojobo-document-engine/__tests__/oboeditor/components/toolbars/paragraph-styles.test.js
  packages/app/obojobo-document-engine/src/scripts/oboeditor/components/toolbars/paragraph-styles.js
Labels: bug, editor, reduce frustration

#1384 Removes cursor in non editable text
  packages/app/obojobo-document-engine/__tests__/Viewer/components/__snapshots__/nav.test.js.snap
  packages/app/obojobo-document-engine/__tests__/common/components/__snapshots__/button-bar.test.js.snap
  packages/app/obojobo-document-engine/__tests__/common/components/__snapshots__/button.test.js.snap
  packages/app/obojobo-document-engine/__tests__/common/components/modal/__snapshots__/error-dialog.test.js.snap
  packages/app/obojobo-document-engine/__tests__/common/components/modal/__snapshots__/prompt.test.js.snap
  packages/app/obojobo-document-engine/__tests__/common/components/modal/__snapshots__/simple-dialog.test.js.snap
  packages/app/obojobo-document-engine/__tests__/oboeditor/components/__snapshots__/visual-editor.test.js.snap
  packages/app/obojobo-document-engine/__tests__/oboeditor/components/navigation/__snapshots__/more-info-box.test.js.snap
  packages/app/obojobo-document-engine/__tests__/oboeditor/components/toolbars/__snapshots__/file-toolbar.test.js.snap
  packages/app/obojobo-document-engine/__tests__/oboeditor/components/triggers/__snapshots__/trigger-list-modal.test.js.snap
  packages/app/obojobo-document-engine/src/scripts/common/components/button.js
  packages/obonode/obojobo-chunks-action-button/__snapshots__/editor-component.test.js.snap
  packages/obonode/obojobo-chunks-action-button/__snapshots__/viewer-component.test.js.snap
  packages/obonode/obojobo-chunks-break/__snapshots__/editor-component.test.js.snap
  packages/obonode/obojobo-chunks-figure/__snapshots__/choose-image-modal.test.js.snap
  packages/obonode/obojobo-chunks-figure/__snapshots__/editor-component.test.js.snap
  packages/obonode/obojobo-chunks-figure/__snapshots__/image-properties-modal.test.js.snap
  packages/obonode/obojobo-chunks-iframe/__snapshots__/editor-component.test.js.snap
  packages/obonode/obojobo-chunks-iframe/__snapshots__/iframe-properties-modal.test.js.snap
  packages/obonode/obojobo-chunks-iframe/__snapshots__/viewer-component.test.js.snap
  packages/obonode/obojobo-chunks-list/__snapshots__/editor-component.test.js.snap
  packages/obonode/obojobo-chunks-math-equation/__snapshots__/editor-component.test.js.snap
  packages/obonode/obojobo-chunks-multiple-choice-assessment/MCChoice/__snapshots__/editor-component.test.js.snap
  packages/obonode/obojobo-chunks-multiple-choice-assessment/__snapshots__/editor-component.test.js.snap
  packages/obonode/obojobo-chunks-multiple-choice-assessment/__snapshots__/viewer-component.test.js.snap
  packages/obonode/obojobo-chunks-multiple-choice-assessment/editor-component.js
  packages/obonode/obojobo-chunks-question-bank/__snapshots__/editor-component.test.js.snap
  packages/obonode/obojobo-chunks-question-bank/__snapshots__/import-questions-modal.test.js.snap
  packages/obonode/obojobo-chunks-question/__snapshots__/editor-component.test.js.snap
  packages/obonode/obojobo-chunks-question/__snapshots__/viewer-component.test.js.snap
  packages/obonode/obojobo-chunks-question/components/solution/__snapshots__/editor-component.test.js.snap
  packages/obonode/obojobo-chunks-question/editor-component.js
  packages/obonode/obojobo-chunks-table/__snapshots__/editor-component.test.js.snap
  packages/obonode/obojobo-chunks-youtube/__snapshots__/editor-component.test.js.snap
  packages/obonode/obojobo-chunks-youtube/__snapshots__/youtube-properties-modal.test.js.snap
  packages/obonode/obojobo-sections-assessment/components/__snapshots__/attempt-incomplete-dialog.test.js.snap
  packages/obonode/obojobo-sections-assessment/components/full-review/__snapshots__/index.test.js.snap
  packages/obonode/obojobo-sections-assessment/components/post-test/__snapshots__/index.test.js.snap
  packages/obonode/obojobo-sections-assessment/components/post-test/lti-status/__snapshots__/index.test.js.snap
  packages/obonode/obojobo-sections-assessment/components/rubric/__snapshots__/editor-component.test.js.snap
  packages/obonode/obojobo-sections-assessment/components/rubric/__snapshots__/mod-properties.test.js.snap
  packages/obonode/obojobo-sections-assessment/components/test/__snapshots__/index.test.js.snap
  packages/obonode/obojobo-sections-assessment/post-assessment/__snapshots__/editor-component.test.js.snap
  packages/obonode/obojobo-sections-assessment/post-assessment/__snapshots__/post-assessment-score.test.js.snap
  packages/obonode/obojobo-sections-assessment/post-assessment/__snapshots__/range-modal.test.js.snap
  packages/obonode/obojobo-sections-assessment/post-assessment/editor-component.js
  packages/obonode/obojobo-sections-assessment/post-assessment/post-assessment-score.js
Labels: enhancement
