Repository ucfopen/Obojobo, pull requests merged in 2021-01, with the labels that each got.

#1629 Fixes invalid start value crash
  packages/app/obojobo-document-engine/__tests__/oboeditor/stores/editor-store.test.js
  packages/app/obojobo-document-engine/src/scripts/oboeditor/stores/editor-store.js
  packages/app/obojobo-document-engine/src/scripts/viewer/stores/nav-store.js
Labels: editor, feels broken

#1633 Fixes viewer crash when loading assessment with katex
  packages/app/obojobo-document-engine/__tests__/common/util/inject-katex-if-needed.test.js
  packages/app/obojobo-document-engine/src/scripts/common/util/inject-katex-if-needed.js
  packages/app/obojobo-document-engine/src/scripts/viewer/stores/assessment-store.js
  packages/obonode/obojobo-sections-assessment/components/post-test/index.js
Labels: bug, document engine package

#1606 breakToText once again
  packages/app/obojobo-document-engine/__tests__/oboeditor/util/keydown-util.test.js
  packages/app/obojobo-document-engine/src/scripts/oboeditor/util/keydown-util.js
  packages/obonode/obojobo-chunks-text/changes/split-parent.js
  packages/obonode/obojobo-chunks-text/changes/split-parent.test.js
Labels: bug, editor

#1648 Fixes nav assessment jump
  packages/app/obojobo-document-engine/__tests__/Viewer/stores/nav-store.test.js
  packages/app/obojobo-document-engine/src/scripts/viewer/stores/nav-store.js
Labels: bug
