Repository ucfopen/Obojobo, pull requests merged in 2021-02, with the labels that each got.

#1539 Rubric input focus issue
  packages/obonode/obojobo-sections-assessment/components/rubric/__snapshots__/editor-component.test.js.snap
  packages/obonode/obojobo-sections-assessment/components/rubric/editor-component.js
  packages/obonode/obojobo-sections-assessment/components/rubric/editor-component.test.js
Labels: bug, editor

#1623 Fixes crash when resuming/finishing an updated assessment
  packages/app/obojobo-document-engine/__tests__/Viewer/stores/assessment-store.test.js
  packages/app/obojobo-document-engine/src/scripts/viewer/stores/assessment-store.js
  packages/obonode/obojobo-sections-assessment/components/dialogs/__snapshots__/updated-module-dialog.test.js.snap
  packages/obonode/obojobo-sections-assessment/components/dialogs/updated-module-dialog.js
  packages/obonode/obojobo-sections-assessment/components/dialogs/updated-module-dialog.test.js
  packages/obonode/obojobo-sections-assessment/server/attempt-end/attempt-end.js
  packages/obonode/obojobo-sections-assessment/server/attempt-resume.js
  packages/obonode/obojobo-sections-assessment/server/attempt-resume.test.js
  packages/obonode/obojobo-sections-assessment/server/error-constants.js
  packages/obonode/obojobo-sections-assessment/server/express.js
  packages/obonode/obojobo-sections-assessment/server/express.test.js
  packages/obonode/obojobo-sections-assessment/server/models/assessment.js
  packages/obonode/obojobo-sections-assessment/server/models/assessment.test.js
Labels: assessment, bug, high priority

#1656 Creates assessment:attemptInvalided event
  packages/obonode/obojobo-sections-assessment/server/attempt-end/attempt-end.js
  packages/obonode/obojobo-sections-assessment/server/attempt-end/attempt-end.test.js
  packages/obonode/obojobo-sections-assessment/server/attempt-end/attempt-import.js
  packages/obonode/obojobo-sections-assessment/server/attempt-end/attempt-import.test.js
  packages/obonode/obojobo-sections-assessment/server/attempt-resume.js
  packages/obonode/obojobo-sections-assessment/server/attempt-resume.test.js
  packages/obonode/obojobo-sections-assessment/server/insert-events.js
  packages/obonode/obojobo-sections-assessment/server/insert-events.test.js
  packages/obonode/obojobo-sections-assessment/server/models/assessment.js
  packages/obonode/obojobo-sections-assessment/server/models/assessment.test.js
Labels: high priority

#1605 Clearer message for assessment ID error
  packages/app/obojobo-document-engine/__tests__/Viewer/stores/assessment-store.test.js
  packages/app/obojobo-document-engine/src/scripts/viewer/stores/assessment-store.js
  packages/obonode/obojobo-sections-assessment/server/attempt-start.js
  packages/obonode/obojobo-sections-assessment/server/attempt-start.test.js
Labels: editor, feels broken

#1585 Triple-clicking selection issue
  packages/app/obojobo-document-engine/__tests__/oboeditor/components/visual-editor.test.js
  packages/app/obojobo-document-engine/src/scripts/oboeditor/components/visual-editor.js
Labels: bug, editor
